# - name: MAIN | Get sensivel data from vault
#   ansible.builtin.set_fact:
#     db_sgbd: "{{ logi | community.general.json_query(jq + '.sgbd') }}"
#     #db_sgbd: "dev"
#     db_host: "{{ logi | community.general.json_query(jq + '.host' ) }}"
#     #db_host: "10.1.1.80"
#     db_port: "{{ logi | community.general.json_query(jq + '.port') }}"
#     db_user: "{{ logi | community.general.json_query(jq + '.username') }}"
#     db_pass: "{{ logi | community.general.json_query(jq + '.password') }}"
#   vars:
#     jq: "db[?name == '{{ db_name }}'] | [0]"
#   tags:
#     - always

# - name: MAIN | Execute SQL*Plus For Package Spec
#   ansible.builtin.shell:
#     cmd: "{{ lookup('ansible.builtin.template', \
#       './execute_package_spec.j2') }}"
#   register: proc_output
#   tags:
#     - always

# - name: Mostra o conteúdo do arquivo gerado
#   debug:
#     var: proc_output

# - name: MAIN | Execute SQL*Plus For Package Body
#   ansible.builtin.shell:
#     cmd: "{{ lookup('ansible.builtin.template', \
#       './execute_package_body.j2') }}"
#   register: proc_output
#   tags:
#     - always

# - name: Mostra o conteúdo do arquivo gerado
#   debug:
#     var: proc_output

tasks:
  - name: Exibir a primeira variável
    debug:
      msg: "O valor da var1 é: {{ package_head }}"

  - name: Exibir a segunda variável
    debug:
      msg: "O valor da var2 é: {{ package_body }}"