sqlplus -s /nolog <<EOF
CONN {{ db_user }}/"{{ db_pass }}"@{{ db_host }}:{{ db_port }}/\
{{ db_name }}
CREATE USER {{ username_db }} IDENTIFIED BY "{{ new_password_db }}"
PASSWORD EXPIRE;
GRANT CREATE SESSION TO {{ username_db }};
EOF
